<div class="footer">
    <div class="footer-grid">
        <ul class="list1">
            <li><a href="index.html">خانه</a></li>

            <li><a href="radio.html">تمام آهنگ ها</a></li>

            <li><a href="browse.html">لیست خواننده ها</a></li>
            <li><a href="contact.html">تماس با ما</a></li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>

